* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-shadow: rgba(0, 0, 0, 0.16);
    --color-blue: #08A6E4;
    --color-blue-shadow: rgba(7, 172, 230, 0.16);
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;

    /* Fonts */
    --Relaway-Font: "Raleway", sans-serif;
    --Relaway-light: 300;
    --Relaway-regular: 400;
    --Relaway-bold: 700;
    --Relaway-extra-bold: 800;
    --Open-Sans-Font: "Open Sans", sans-serif;
    --Open-Sans-light: 300;
    --Open-Sans-regular: 400;
    --Open-Sans-bold: 700;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
}

body {
    font-family: "Raleway", "Open Sans", sans-serif;
    font-size: 16px;
}

