* {
    box-sizing: border-box;
}

:root {
    /* Colors */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-shadow: rgba(0, 0, 0, 0.16);
    --color-blue: #08A6E4;
    --color-blue-shadow: rgba(7, 172, 230, 0.16);
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;

    /* Fonts */
    --Relaway-Font: "Raleway", sans-serif;
    --Relaway-light: 300;
    --Relaway-regular: 400;
    --Relaway-bold: 700;
    --Relaway-extra-bold: 800;
    --Open-Sans-Font: "Open Sans", sans-serif;
    --Open-Sans-light: 300;
    --Open-Sans-regular: 400;
    --Open-Sans-bold: 700;
}

.container {
    margin: 0 auto;
    max-width: 1352px;
}

body {
    font-family: "Raleway", "Open Sans", sans-serif;
    font-size: 16px;
}

/* Header section */
.header__background {
    width: 100%;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__top-bar {
    height: 70px;
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-black-shadow);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: var(--Relaway-Font);
    font-size: 2em;
    font-weight: var(--Relaway-light);
    color: var(--color-blue);
    text-decoration: none;
}

.header__nav {
    display: flex;
    font-family: var(--Open-Sans-Font);
    font-size: 0.6875em;
    font-weight: var(--Open-Sans-bold);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-grey);
}

.header__nav-link {
    margin-left: 65px;
    padding: 27px 15px 28px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
}
.header__nav-link:first-child {
    margin-left: 0;
}

.header__nav-link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-blue);
}

.header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    margin-top: 130px;
    font-family: var(--Relaway-Font);
    font-size: 3.0625em;
}

.header__description {
    font-family: var(--Open-Sans-Font);
    font-size: 1em;
    margin-top: 20px;
}

.header__btn {
    font-family: var(--Open-Sans-Font);
    font-size: 1em;
    font-weight: var(--Open-Sans-bold);
    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 5px 10px 14px var(--color-blue-shadow);
    text-decoration: none;
    padding: 22px 157px;
    border-radius: 40px;
    display: block;
    margin-top: 38px;
}

.header {
    margin-bottom: 100px;
}

.heading {
    font-family: var(--Relaway-Font);
    font-size: 2.25em;
    font-weight: var(--Relaway-regular);
    line-height: 42px;
}

/* Stats Section */
.stats .container {
    display: flex;
    justify-content: center;
}

.stats__container {
    display: flex;
    justify-content: center;
}

.stats__title {
    font-family: var(--Relaway-Font);
    font-size: 1.25em;
    font-weight: var(--Relaway-extra-bold);
    letter-spacing: 0.375em;
    margin-top: 15px;
}

.stats__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.stats__icon {
    width: 63px;
    height: 63px;
    display: block;
    border-radius: 50%;
}

.stats__icon-1 {
    background-color: var(--color-redish);
}

.stats__icon-1 img {
    transform: translate(70%, 5%);
}

.stats__icon-2 {
    background-color: var(--color-blue);
}

.stats__icon-2 img {
    transform: translate(25%, 40%);
}

.stats__icon-3 {
    background-color: var(--color-green);
}

.stats__icon-3 img {
    transform: translate(70%, 5%);
}

.stats__text {
    font-family: var(--Relaway-Font);
    font-size: 1.0625em;
    font-weight: var(--Relaway-regular);
    color: var(--color-grey);
    margin-top: 20px;
    max-width: 135px;
    text-align: center;
}
