/* Header section */

.header__background {
  width: 100%;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__top-bar {
  height: 70px;
  background-color: $color-white;
  box-shadow: 0 3px 6px $color-black-shadow;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: $Raleway-Font;
  font-size: 2em;
  font-weight: $Raleway-light;
  color: $color-blue;
  text-decoration: none;
}

.header__nav {
  display: flex;
  font-family: $Open-Sans-Font;
  font-size: 0.6875em;
  font-weight: $Open-Sans-bold;
  text-transform: uppercase;
  letter-spacing: 0.1875em;
  color: $color-grey;
}

.header__nav-link {
  margin-left: 65px;
  padding: 27px 15px 28px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}
.header__nav-link:first-child {
  margin-left: 0;
}

.header__nav-link:hover {
  color: $color-black;
  border-bottom: 4px solid $color-blue;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-top: 130px;
  font-family: $Raleway-Font;
  font-size: 3.0625em;
}

.header__description {
  font-family: $Open-Sans-Font;
  font-size: 1em;
  margin-top: 20px;
}

.header__btn {
  font-family: $Open-Sans-Font;
  font-size: 1em;
  font-weight: $Open-Sans-bold;
  color: $color-white;
  background-color: $color-blue;
  box-shadow: 5px 10px 14px $color-blue-shadow;
  text-decoration: none;
  padding: 22px 157px;
  border-radius: 40px;
  display: block;
  margin-top: 38px;
}

.header {
  margin-bottom: 100px;
}

.heading {
  font-family: $Raleway-Font;
  font-size: 2.25em;
  font-weight: $Raleway-regular;
  line-height: 42px;
}
